footer {
  background-color: $site-red;
  display: block;
  color: white;
  font-family: GillSans;
  .footer {
    //background-color: cadetblue;
    max-width: 696px;
    margin: 0 auto;
    padding-top: 40px;
    .footerLOGO {
      width: 90px;
      //background-color: chocolate;
      //padding-left: 300px;
      margin: 0 auto;
      img {
        a {
        }
      }
    }

    .footerCONTACT {
      max-width: 382px;
      text-align: center;
      padding-bottom: 20px;
      padding-top: 20px;
      margin-left: 75px;
      font-size: 16px;
      margin: 0 auto;
    }

    .subscribe {
      display: flex;
      justify-content: center;
      height: 60px;
      align-items: center;
      font-size: 16px;
      .signupBOX {
        background-color: #f56b88;
        width: 529px;
        p {
          opacity: 50%;
          padding-top: 15px;
          padding-left: 20px;
        }
      }
      .subscribeBUTTON {
        background-color: white;
        width: 167px;
        color: $site-red;
        padding-top: 15px;
        text-align: center;
      }
    }

    .socialMedia {
      width: 170px;
      //background-color: royalblue;
      margin: 20px auto;
      height: 31px;
      svg {
        margin-left: 20px;
      }
    }

    .copyright {
      margin-top: 40px;
      text-align: center;
      padding-bottom: 20px;
      font-size: 12px;
      p {
        opacity: 50%;
      }
    }
  }
}
